In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('email.csv')
df

            Category                                            Message
0                ham  Go until jurong point, crazy.. Available only ...
1                ham                      Ok lar... Joking wif u oni...
2               spam  Free entry in 2 a wkly comp to win FA Cup fina...
3                ham  U dun say so early hor... U c already then say...
4                ham  Nah I don't think he goes to usf, he lives aro...
...              ...                                                ...
5568             ham               Will ü b going to esplanade fr home?
5569             ham  Pity, * was in mood for that. So...any other s...
5570             ham  The guy did some bitching but I acted like i'd...
5571             ham                         Rofl. Its true to its name
5572  {"mode":"full"                                    isActive:false}

[5573 rows x 2 columns]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB

In [10]:
vector = CountVectorizer()
X = vector.fit_transform(df['Message'])
y = df['Category']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=10)
mnb = MultinomialNB()
mnb.fit(X, y)
user = input("Mail: ")
u = vector.transform([user])
pred = mnb.predict(u)
pred

Mail:  Stand a chance to win a free Iphone 17 today

array(['spam'], dtype='<U14')